<div class="padding-1">
  <div class="row">
    <div class="col-sm-12">
      <h4>Creacion del producto</h4>
      <hr />
    </div>
  </div>

  <div class="cards-pf pfng-isc-ex-container">
    <div class="container-fluid pfng-fluid-width-container">
      <div class="col-sm-6">
        <form [formGroup]="form" (ngSubmit)="save(form)">
          <cobro-form-fields-status [cobranzaForm]="form"></cobro-form-fields-status>

          <div class="row form-group" [cobranzaFormFieldValidationState]="form.get('denominacion')">
            <label class="col-md-3 control-label" [cobranzaFormRequiredLabel]="form.get('denominacion')">Denominacion
              <i class="fa fa-question-circle text-muted" tooltip="denominacion" placement="top"></i>
            </label>
            <div class="col-md-9">
              <input formControlName="denominacion" type="text" class="form-control">
              <cobro-form-field-validation-messages [cobranzaFormControl]="form.get('denominacion')">
              </cobro-form-field-validation-messages>
            </div>
          </div>
          <div class="row form-group" [cobranzaFormFieldValidationState]="form.get('categoria')">
            <label class="col-md-3 control-label" [cobranzaFormRequiredLabel]="form.get('categoria')">Categoria
              <i class="fa fa-question-circle text-muted" tooltip="Alias" placement="top"></i>
            </label>
            <div class="col-md-9">
              <input formControlName="categoria" type="text" class="form-control">
              <cobro-form-field-validation-messages [cobranzaFormControl]="form.get('categoria')">
              </cobro-form-field-validation-messages>
            </div>
          </div>
          <div class="row form-group" [cobranzaFormFieldValidationState]="form.get('precio')">
            <label class="col-md-3 control-label" [cobranzaFormRequiredLabel]="form.get('precio')">Precio
              <i class="fa fa-question-circle text-muted" tooltip="Alias" placement="top"></i>
            </label>
            <div class="col-md-9">
              <input formControlName="precio" type="number" class="form-control">
              <cobro-form-field-validation-messages [cobranzaFormControl]="form.get('precio')">
              </cobro-form-field-validation-messages>
            </div>
          </div>
          <br>
          <cobro-button-save [cobranzaForm]="form" [working]="working"></cobro-button-save>
          <cobro-button-cancel (cobranzaOnCancel)="cancel()"></cobro-button-cancel>
        </form>
      </div>
    </div>
  </div>
</div>