<div class="padding-1">
  <div class="row">
    <div class="col-sm-12">
      <h4>Cobrar Cuota</h4>
      <hr />
    </div>
  </div>

  <div class="cards-pf pfng-isc-ex-container">
    <div class="container-fluid pfng-fluid-width-container">
      <div class="col-sm-6">
        <form [formGroup]="form" (ngSubmit)="save(form)">
          <cobro-form-fields-status [cobranzaForm]="form"></cobro-form-fields-status>

          <div class="row form-group" [cobranzaFormFieldValidationState]="form.get('fecha')">
            <label class="col-md-3 control-label" [cobranzaFormRequiredLabel]="form.get('fecha')">Fecha
              <i class="fa fa-question-circle text-muted" ngbTooltip="Fecha " placement="right"></i>
            </label>
            <div class="col-md-9">
              <div class="input-group">
                <input formControlName="fecha" class="form-control" placeholder="dd/mm/yyyy" bsDatepicker
                  #dp="bsDatepicker">
                <div class="input-group-addon" (click)="dp.show()">
                  <span class="glyphicon glyphicon-calendar"></span>
                </div>
              </div>
              <cobro-form-field-validation-messages [cobranzaFormControl]="form.get('fecha')">
              </cobro-form-field-validation-messages>
            </div>
          </div>
          <div class="row form-group" [cobranzaFormFieldValidationState]="form.get('nombreCompleto')">
            <label class="col-md-3 control-label" [cobranzaFormRequiredLabel]="form.get('nombreCompleto')">Datos del
              Cliente
              <i class="fa fa-question-circle text-muted" tooltip="Nombres Completos" placement="top"></i>
            </label>
            <div class="col-md-9">
              <input formControlName="nombreCompleto" type="text" class="form-control" [ngbTypeahead]="search"
                [resultTemplate]="rt" [inputFormatter]="formatter" (selectItem)="selectedItem($event,form)"
                #ngbPeronas="ngbTypeahead" placeholder="buscar cliente..." />
              <cobro-form-field-validation-messages [cobranzaFormControl]="form.get('nombreCompleto')">
              </cobro-form-field-validation-messages>
            </div>
            <ng-template #rt let-r="result" let-t="term">
              {{ r.nombreCompleto}}
            </ng-template>
          </div>
          <div class="row form-group" [cobranzaFormFieldValidationState]="form.get('montoVenta')">
            <label class="col-md-3 control-label" [cobranzaFormRequiredLabel]="form.get('montoVenta')">Monto Venta
              <i class="fa fa-question-circle text-muted" tooltip="Alias" placement="top"></i>
            </label>
            <div class="col-md-9">
              <input formControlName="montoVenta" type="number" class="form-control">
              <cobro-form-field-validation-messages [cobranzaFormControl]="form.get('montoVenta')">
              </cobro-form-field-validation-messages>
            </div>
          </div>
          <div class="row form-group" [cobranzaFormFieldValidationState]="form.get('cuotaDiaria')">
            <label class="col-md-3 control-label" [cobranzaFormRequiredLabel]="form.get('cuotaDiaria')">Cuota Diaria
              <i class="fa fa-question-circle text-muted" tooltip="Alias" placement="top"></i>
            </label>
            <div class="col-md-9">
              <input formControlName="cuotaDiaria" type="number" class="form-control">
              <cobro-form-field-validation-messages [cobranzaFormControl]="form.get('cuotaDiaria')">
              </cobro-form-field-validation-messages>
            </div>
          </div>
          <div class="row form-group" [cobranzaFormFieldValidationState]="form.get('descripcion')">
            <label class="col-md-3 control-label" [cobranzaFormRequiredLabel]="form.get('descripcion')">Descripcion              
              <i class="fa fa-question-circle text-muted" tooltip="Alias" placement="top"></i>
            </label>
            <div class="col-md-9">
              <textarea formControlName="descripcion" rows="5"  class="form-control"></textarea>
              <cobro-form-field-validation-messages [cobranzaFormControl]="form.get('descripcion')">
              </cobro-form-field-validation-messages>
            </div>
          </div>
          <br>
          <cobro-button-save [cobranzaForm]="form" [working]="working"></cobro-button-save>
          <cobro-button-cancel (cobranzaOnCancel)="cancel()"></cobro-button-cancel>
        </form>
      </div>
    </div>
  </div>
</div>